@font-face {
    font-family: 'Digital-7';
    src: url('/fonts/Digital-7.woff') format('woff'),
        url('/fonts/Digital-7.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Digital-7', sans-serif;
    background-color: wheat;
    box-sizing: border-box;
}

.wrapper {
    margin-top: 220px;
}

.counter-buttons {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

button {
    width: 100px;
    height: 40px;
    background-color: rgb(51, 51, 51);
    border: black solid 3px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    line-height: 0px;
}

button:hover {
    background-color: rgb(109, 109, 109);
}

#decr { 
    margin-left: 30px;
    font-size: 40px;
}

#incr {
    margin-right: 30px;
    font-size: 30px;
}

#reset {
    font-size: 17px;
}

.counter-structure {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    min-height: 300px;
    margin: 0 auto;
    color: red;
    background-color: black;
    border: solid 15px rgb(51, 51, 51);
    border-radius: 10px;
    box-shadow: 0 0 0 3px black;
}

.luca-counter-text {
    font-size: 50px;
    text-align: center;
    letter-spacing: 7px;
}

#number {
    font-size: 80px;
    text-align: center;
}

@media screen and (max-width: 615px) {

    .counter-structure {
        min-height: 450px;
    }

    .luca-counter-text {
        line-height: 90px;
    }
}