@font-face {
    font-family: 'Digital7';
    src: url('/assets/fonts/Digital7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Digital7', sans-serif;
    background-color: #e7e7e7;
    box-sizing: border-box;
}

#page {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#counter {
    padding: 0 5%;
}

#buttons-wrapper {
    display: flex;
    justify-content: space-around;
}

button {
    width: clamp(70px, 19vw, 90px);
    height: 35px;
    background-color: #5e5e5e;
    border: black solid 3px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 20px;
}

button:hover {
    background-color: rgb(109, 109, 109);
}

#reset {
    font-size: 14px;
    letter-spacing: 2px;
}

#counter-display {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 3vw;
    color: red;
    background-color: black;
    border: solid 15px #5e5e5e;
    border-radius: 7px;
    box-shadow: 0 0 0 3px black;
    font-size: clamp(50px, 15vw, 80px);
}

#counter-text {
    letter-spacing: 7px;
    margin-bottom: 50px;
    line-height: 70px;
}